<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.sys.modular.account.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.sys.modular.account.entity.Account">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_id" property="userId" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,user_id,user_name,phone,status,create_time,update_time,create_user,update_user
    </sql>
    <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from account_info where 1 = 1
        <if test="condition != null and condition != ''">
            and user_name like CONCAT('%',#{condition},'%') or phone like CONCAT('%',#{condition},'%')
        </if>
        <if test="userName != null and userName != ''">
            and user_name like CONCAT('%',#{userName},'%')
        </if>
        order by create_time ASC
    </select>
</mapper>
